<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <uses-feature
        android:name="android.software.leanback"
        android:required="false" />
    <uses-feature
        android:name="android.hardware.touchscreen"
        android:required="false" />

    <uses-permission
        android:name="android.permission.WRITE_SECURE_SETTINGS"
        tools:ignore="ProtectedPermissions" />

    <application
        android:name=".PrivateDNSApp"
        android:allowBackup="true"
        android:banner="@mipmap/ic_launcher_banner"
        android:icon="${appIcon}"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/Theme.Transparent">
        <service
            android:name=".service.ShortcutService"
            android:enabled="true"
            android:exported="false" />

        <provider
            android:name="rikka.shizuku.ShizukuProvider"
            android:authorities="${shizukuProviderAuthority}"
            android:enabled="true"
            android:exported="true"
            android:permission="android.permission.INTERACT_ACROSS_USERS_FULL" />

        <activity
            android:name=".ui.MainActivity"
            android:exported="true"
            android:launchMode="singleInstance"
            android:taskAffinity="${mainTaskAffinity}"
            android:theme="@style/Theme.MyApplication">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
                <category android:name="android.intent.category.LEANBACK_LAUNCHER" />
            </intent-filter>
            <meta-data
                android:name="android.app.shortcuts"
                android:resource="@xml/shortcuts" />
        </activity>
        <activity
            android:name=".ui.AboutLibsActivity"
            android:excludeFromRecents="true"
            android:exported="false">
        </activity>

    </application>

</manifest>